button {
    background-color: rgb(205, 238, 148);
    border: 1px solid saddlebrown;
    border-radius: 8px;
    margin-bottom: 6px;
    left: 690px;
    position: relative;
 }

 button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50; 
    color: white;
}

.btn2 > button {
    display:block;
    left: 800px;
}

