<div class="container">
<div class="firstdiv">
<form #form="ngForm" (ngSubmit)="logForm(form.value)" ngNativeValidate>
  <label>Firstname:</label>&nbsp;&nbsp;
  <input type="text" name="firstname" ngModel required>
  <br><br>
  <label>Lastname:</label>&nbsp;&nbsp;
  <input type="text" name="Lastname" ngModel>
  <br><br>
  <label>Address 1:</label>&nbsp;&nbsp;
  <input type="text" name="Street" ngModel>
  <br><br>
  <label>Address 2:</label>&nbsp;&nbsp;
  <input type="text" name="Street" ngModel>
  <br><br>
  <label>Zip:</label>&emsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="Zip" #zip="ngModel" ngModel required pattern="[0-9]{5}">
  <div class="alert" [hidden]="zip.valid || zip.pristine" style ="width:28%">
    Zip code must 5 digits!
  </div>
  <br><br>
  <label>City:</label>&emsp;&emsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="city" ngModel required>
  <br><br>
  <label>State:</label>&nbsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="state" ngModel required>
  <br><br>
  <button type="submit">Submit</button>
</form>
</div>


<div class="form2 firstdiv" >
  <h2>Personal Information</h2>
  <form action="form22">
    Age:
    <input type="text">&nbsp;&nbsp;&emsp;&emsp;&emsp;
    Gender:
    <input type="text"><br><br>
    Race:
    <input type="text">&nbsp;&nbsp;&emsp;
    Occupation:
    <input type="text"> <br><br>
    Marital Status:
    <input type="text">&nbsp;&nbsp;&emsp;&emsp;
    Religion:
    <input type="text"><br><br>
    Telephone Home:
    <input type="text">&nbsp;&nbsp;
    Eye Color:
    <input type="text"><br><br>
    Telephone Work:
    <input type="text">&nbsp;&nbsp;
    Next of Kin:
    <input type="text"><br><br>
    &nbsp;&nbsp;&emsp;<button type="submit">Submit</button>
  </form>
</div>
</div>
