<form #form="ngForm" (ngSubmit)="logForm(form.value)" ngNativeValidate>
  <label>Firstname:</label>
  <input type="text" name="firstname" ngModel required>
  <br>
  <label>Lastname:</label>
  <input type="text" name="Lastname" ngModel>
  <br>
  <label>Street:</label>
  <input type="text" name="Street" ngModel>
  <br>
  <label>Zip:</label>
  <input type="text" name="Zip" ngModel>
  <br>
  <label>city:</label>
  <input type="text" name="city" ngModel required>
  <br>
  <button type="submit">Submit</button>
</form>
