
.container {
    width: 100%;
    display: inline-flex;
   
}

.firstdiv{
    width: 48%;
    padding: 40px;
    background-color: rgb(98, 86, 209);
}

.form2 {
    display: inline;
    flex-wrap: wrap;
    background-color: rgb(50, 46, 85);
    
    }
.form3 {
  border: 2px solid green;
  padding: 25px;
  margin: 25px;
  border-radius: 8px;
}

label {
    font-size: 30px;
}

small {
  font-size: 12px;
  font-style: italic;
}

button{
  font-size: 30px;
  background-color: black;
  color: white;
  border: 2px solid #4CAF50;
  padding: 15px 32px;
  text-align: center;
  border-radius: 8px;
}

.form2 > div {
  display: flex;
  flex-flow: wrap;
}

input{
    padding: 5px;
    margin: 5px;
  }
  
  input[type=text].ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
  }
  
  input[type=text].ng-invalid {
    border-left: 5px solid #a94442; /* red */
  }
  
  .alert {
    padding: 10px;
    color: darkred;
    background-color: tomato;
  }
  