
body {
    background-color: rgba(219, 135, 26, 0.561);
}

div {
    background-color: rgba(219, 135, 26, 0.835);
    align-content: center;
}

input {
    display: inline;
    align-content: center;
    border: 1px soli rgba(13, 151, 78, 0.623);
    border-radius: 5px;
}
button {
    display: inline;
}