div {
    background-color: grey;
    align-content: center;
}

input {
    display: inline;
    align-content: center;
    border: 1px soli black;
    border-radius: 5px;
}
button {
    display: inline;
}